<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CardInfoServer" value=""/>
    <add key="CommodityServer" value=""/>
    <add key="ScoreChangeServer" value=""/>
    <add key="CardReaderAddress" value="127.0.0.1"/>
    <add key="User" value="admin"/>
  </appSettings>
</configuration>