<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--配置文件请勿手动更改-->
  <appSettings>
    <add key="Server" value="http://smljfl.cygps.com:888/jsonapi/base/getService.json"/>
    <add key="Token" value="yun123!9900995399009922909900991990099[468]9900991517601442773990099001990099554ac5cf55b8be5a"/>
    <add key="SaveUserEnable" value="True"/>
    <add key="LastUser" value="admin"/>
    <add key="LogEnable" value="True"/>
    <add key="Expect100Continue" value="False"/>
    <add key="Pagesize" value="20"/>
  </appSettings>
</configuration>