<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--配置文件请勿手动更改-->
  <appSettings>
    <add key="Server" value="http://smljfl.cygps.com:888/jsonapi/base/getService.json"/>
    <add key="Token" value="K18dbULYH11MC3/mN8WUnnCJAV5onenDfwB0ZKZfSfZMNkGUbjM62Y64LLxYtqQQjg5WBkDFirIJLcRCF44NiyJeC1fSZpElO/dxQaWHb5UNXOg0XZv8ype+MgYzvM+AC6NsohWn4ayh3MUGtaZ6PMj+VfctvGDKjT9qlswIVgA="/>
    <add key="LastUser" value="admin"/>
    <add key="LogEnable" value="True"/>
    <add key="Expect100Continue" value="False"/>
    <add key="Pagesize" value="20"/>
  </appSettings>
</configuration>